--binarygrouping none
--callsiteparen same-line
--decimalgrouping none
--hexliteralcase lowercase
--indent 2
--nospaceoperators ...,..<
--octalgrouping none
--patternlet inline
--semicolons never
--disable redundantSelf