name: Post-Release Actions

on:
  release:
    types:
      - created

jobs:
  update-docs-release-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ios
        uses: actions/checkout@v6
        with:
          path: ios
      - name: Checkout docs
        uses: actions/checkout@v6
        with:
          repository: smileidentity/docs
          path: docs
          token: ${{ secrets.GH_PAT }}
      - name: Copy CHANGELOG.md to Release Notes
        run: cp ios/CHANGELOG.md docs/integration-options/mobile/ios-v10/release-notes.md
      - name: Create docs PR
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_PAT }}
          path: docs
          commit-message: iOS ${{ github.event.release.tag_name }} Release Notes
          title: iOS ${{ github.event.release.tag_name }} Release Notes
          body: Automated PR to update the release notes
          branch: ios-release-notes-${{ github.event.release.tag_name }}
          labels: "release-notes"
          team-reviewers: "smileidentity/mobile"